.map-wrapper {
    margin-top: 20vh;
    margin-left: 7vw;
    border: 1px solid red;
}

.country-to-compare {
    display: flex;
    flex: 1;
    margin-top: .8vh;
    border-radius: 4px;
    border: 1px solid #d6d3d3;
  }
  .similar-wrapper {
      margin-top: 2vh;
  }
  .most-span {
      color: blue;
      font-size: .8rem;
  }
  .most-similar {
      /* color: red; */
      color: rgb(108, 20, 26);
      font-size: 1.2rem;
  }
  .least-span {
    color: red;
    font-size: .8rem;
  }
  .least-similar {
      color: blue;
      color: rgb(13, 33, 73);
      font-size: 1.2rem;
  }