.map-wrapper {
    margin-top: 20vh;
    /* margin-left: 3vw; */
}
.country-to-compare {
    display: flex;
    flex: 1;
    margin-top: .8vh;
    border-radius: 4px;
    border: 1px solid #d6d3d3;
  }
  .similar-wrapper {
    font-family: Avenir, Arial, Helvetica, sans-serif;
    margin-top: 2vh;
  }
  .most-span {
      color: #333;
      opacity: .6;
      font-family: 'Lato', 'Avenir', Arial, Helvetica, sans-serif;
      font-size: .9rem;
  }
  .most-similar {
      color: rgb(200, 62, 70);
      font-size: 1.1rem;
      font-family: 'Lato', 'Avenir', Arial, Helvetica, sans-serif;
  }
  .least-span {
    color: #333;
    opacity: .6;
    font-family: 'Lato', 'Avenir', Arial, Helvetica, sans-serif;
    font-size: .9rem;
  }
  .least-similar {
      color: rgb(5, 7, 77);
      font-size: 1.1rem;  
      font-family: 'Lato', 'Avenir', Arial, Helvetica, sans-serif;
    }