.oced-compare {
    width: 100vw;
    /* height: 500px; */
    margin-left: 7vw;
    margin-top: 5vh;
}
.oced-compare p {
    width: 60%;
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    color: #323648;
    opacity: .8;
    font-weight: 100;
    font-size: 1.4rem;
    margin-top: 1vh;
    line-height: 2.5rem;
}
.oced-compare p span {
  /* border: 1px solid red; */
  font-weight: 600;
}
.oced-compare ul {
    width: 60%;
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    color: #323648;
    opacity: .8;
    font-weight: 100;
    font-size: 1.4rem;
    margin-top: 1vh;
    line-height: 2.5rem;
}


  
  text {
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    color: #323648;
  }
  
  .tick text {
    font-size: 2.4em;
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    color: #323648;
  }
  
  .tick line {
    stroke: #C0C0BB;
  }
  
  .axis-label {
    font-size: 5em;
    fill: #8E8883;
  }
  .title {
    font-size: 3.7em;
    fill: #635F5D;
  }
  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }
  .scatterplot-container svg {
    margin-left: 7vw;
  }
 .scatterplot-select-wrapper {
   margin-top: 2vw;   
   display: flex;
   flex-direction: row;
 }

 .scatterplot-selects-wrapper{
   display: flex;
   margin-left: 3vw;
   flex-direction: column;
 }
 .first-scatterplot-selects-wrapper {
  margin-left: 7vw!important;
}
 .scatterplot-label {
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  color: #323648;
  opacity: .8;
  font-weight: 500;
  font-size: 1.1rem;
 }
 .scatterplot-select {
   padding: 10px;
   background-color: #f8f9fa;
   border-radius: 4px;
   border: 1px solid transparent;
   /* border: none; */
  transition: .2s ease-in-out;
 }
 .scatterplot-select:hover { 
  background-color: #dae0e5;
  cursor: pointer;
  border: 1px solid #d6d3d3;
  transition: .2s ease-in-out;
}
.scatterplot-country-select {
  padding-top: 10px;
  padding: 10px;
}
 .dot:hover {
  opacity: .8;
  cursor: pointer;
 }
 circle {
  fill: rgb(5, 7, 77);
  opacity: .6;
}
circle.specificCountryScatterplot {
  fill: rgb(222, 60, 75)
}