.chart-takeaways {
    width: 100vw;
    /* border: 1px solid red; */
    margin-left: 7vw;
    font-family: Avenir, Lato, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
.chart-takeaways-title {
    font-family: Avenir, Lato, Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    margin-left: 7vw;
    margin-top: 10vh;
    font-weight: 500;
    color: #323648;
    opacity: .9;
}
.chart-takeaway {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex:1;
    height: 500px;
}
.chart-takeaway-text-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.chart-takeaway-text-wrapper p {
    width: 60%;
    font-family: 'Avenir', Lato, Arial, Helvetica, sans-serif;
    color: #323648;
    opacity: .8;
    font-weight: 100;
    font-size: 1.4rem;
    margin-top: 1vh;
    line-height: 2.5rem;
}
.chart-takeaway-text-wrapper span {
    color: rgb(5, 7, 77);
    font-weight: 900;
    opacity: 1;
}
.chart-takeaway-images {
    display: flex;
    width: 90%;
    margin-top: -5vh!important;
    flex-direction: row
}
.chart-takeaway-image-wrapper {
    display: flex;
    flex: 1;
    width: 30%;
    margin-right: 5%;
    flex-direction: column;
}
.chart-takeaway-image-title {
    font-size: 1rem;
    font-family:  Lato, Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: rgb(5, 7, 77);
    opacity: .5;
}
.chart-image {
    width: auto;
    height: 10rem;
    margin-top: 5%;
    margin-left: 0%;
}
@media screen and (min-width: 1900px) {
    .chart-takeaway-images {
    display: flex;
    width: 80%;
    margin-top: -5vh!important;
    flex-direction: row
    }
    .chart-image {
        width: auto;
        height: 10rem;
        margin-top: 5%;
        /* border: 1px solid red; */
        margin-left: -7%;
    }
    .wealth-inequality-chart {
        margin-left: -10%;
    }
}