.map-wrapper {
    margin-top: 10vh;
}
.map-container {
  margin-top: -2vh;
  /* overflow-x: auto; */
}
::-webkit-scrollbar-thumb:horizontal{
  background: #000;
  border-radius: 10px;
}
.map-wrapper-widgets {
  width: 80%;
  margin: auto;
}
.metric-text {
  font-size: 1rem;
  display: flex;
  margin-left: 2%;
  flex-direction: row;
}
.highest-box {
  height: 11px;
  width: 11px;
  margin-left: 6px;
  margin-top: 6px;
  border: 2px dashed rgb(5, 7, 77);
}
.lowest-box {
  height: 11px;
  width: 11px;
  margin-left: 6px;
  margin-top: 4px;
  border: 2px dashed rgb(200, 62, 70);
}
.country-to-compare {
    display: flex;
    flex: 1;
    margin-top: .8vh;
    border-radius: 4px;
    background-color: #f8f9fa;
    border: 1px solid #d6d3d3;
    margin: auto;
    height: 5.5vh;
    transition: .2s ease-in-out;
  }
  .country-to-compare:hover { 
    background-color: #dae0e5;
    cursor: pointer;
    border: 1px solid #d6d3d3;
    transition: .2s ease-in-out;
  }
  .similar-wrapper {
    font-family: Avenir, Lato, Arial, Helvetica, sans-serif;
    display: flex;
    width: min-content;
    margin: auto;
    margin-top: 2vh;
    flex-direction: row;
  }
  .signifigant-metrics-wrapper {
    font-family: Avenir, Lato, Arial, Helvetica, sans-serif;
    margin-top: 0vh;
    display: flex;
    width: 100vw;
    margin: auto;
    width: min-content;
    flex-direction: column;
  }
  .most-span {
    color: #333;
    opacity: .6;
    font-family: 'Lato', 'Avenir', Arial, Helvetica, sans-serif;
    font-size: .75rem;
    margin-right: 1%;
    font-weight: 100;
    white-space: nowrap;
    text-transform: uppercase;
  }
  .highest {
    /* border-bottom: 2px solid rgb(5, 7, 77); */
    white-space: nowrap;
  }
  .highest-metrics {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
  }
  .lowest {
    /* border-bottom: 2px solid rgb(200, 62, 70); */
  }
  .lowest-metrics {
    margin-left: 0%;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
  }
  .most-similar {
      color: rgb(5, 7, 77);
      font-size: 1.2rem;
      width: auto;
      white-space: nowrap;
      font-family: 'Lato', 'Avenir', Arial, Helvetica, sans-serif;
  }
  .least-span {
    color: #333;
    opacity: .6;
    font-family: 'Lato', 'Avenir', Arial, Helvetica, sans-serif;
    font-size: .8rem;
    font-weight: 100;
    white-space: nowrap;
    text-transform: uppercase;
    margin-left: 0%;
  }
  .least-similar-span {
    color: #333;
    opacity: .6;
    font-family: 'Lato', 'Avenir', Arial, Helvetica, sans-serif;
    font-size: .8rem;
    font-weight: 100;
    white-space: nowrap;
    text-transform: uppercase;
    margin-left: 2%;
  }
  .least-similar {
    color: rgb(200, 62, 70);
    font-size: 1.2rem;  
    white-space: nowrap;
    font-family: 'Lato', 'Avenir', Arial, Helvetica, sans-serif;
    margin-left: 3%;
  }
    .country-to-compare-wrapper {
      display: flex;
      width: 35%;
      margin: auto;
      flex-direction: row;
    }
    .country-to-compare-wrapper h1 {
      font-family: 'Lato', 'Avenir', Arial, Helvetica, sans-serif;
      font-size: 1.6rem;
      margin-right: 3%;
      margin-top: 1%;
    }
    .country {
      margin-left: 4px;
      white-space: nowrap
    }

    .map-description {
      width: 100%;
      height: min-content;
      margin-top: 15vh;
    }
    .map-description-title {
      font-size: 3.3rem;
      margin-left: 7vw;
      font-family: Avenir, Lato, Arial, Helvetica, sans-serif;
      color: #323648;
      font-weight: 900;
    }
    .first-map-description-paragraph {
      margin-top: 3vh;
    }
    .map-description-paragraph {
      width: 60%;
      font-family: 'Avenir', Lato, Arial, Helvetica, sans-serif;
      margin-left: 7vw;
      color: #323648;
      opacity: .8;
      font-weight: 100;
      font-size: 1.4rem;
    }
    .most-similar-countries-span {
      font-weight: 900;
      color: rgba(5, 7, 77)
    }
    .least-similar-countries-span {
      font-weight: 900;
      color: rgba(200, 62, 70)
    }
    
    @media screen and (min-width: 1900px) {
      .signifigant-metrics-wrapper {
        flex-direction: row;
      }
      .country-to-compare {
        height: 4vh;
      }
    .lowest-metrics {
      margin-left: 3%;
    }
    .least-span {
      margin-left: 5%;
    }
    .least-similar-span {
      margin-left: 3%;
    }
    .most-similar-span {
      margin-right: 3%;
    }
      .map-description-paragraph {
        width: 45%;
      }
  }