@media (max-width: 600px) {
    .section-header__description {
      width: 80%;
    }
    svg {
      margin: 0;
      padding: 0;
      margin-top: 7vh;
      /* margin-left: -1vw; */
    }
    .selects-wrapper {
      margin-left: 4vw!important;
    }
    .value-select {
      width: 100%!important;
    }
    .colors-key {
      width: 100%!important;
    }
    .country-select-wrapper {
      margin-left: 0!important;
    }
    .country-select {
      width: 100%!important;
    }
    .key {
      padding: 2px!important;
      padding-left: 8px!important;
      padding-right: 8px!important;
    }
    .clear-key {
      padding-left: 12px!important;
      padding-right: 12px!important;
    }
    .key p {
      font-size: .7rem!important;
    }
    .selects-wrapper {
      /* border: 1px solid red; */
      width: 90%;
      flex-direction: column;
      margin-left: 2vw;
    }
    .chart-takeaways-title {
      width: 80%;
      font-size: 1.2rem;
    }
    .chart-takeaway-text-wrapper p {
      width: 85%!important;
    }
    .chart-takeaway-images {
      flex-direction: column!important;
      margin-left: -1vh!important;
    }
    .chart-takeaway-image-wrapper {
      width: 100%!important;
      margin-top: 10vh!important;
    }
    .oced-compare p {
      width: 85%!important;
    }
    .scatterplot-select-wrapper {
      margin-top: 2vw;   
      display: flex;
      width: 90%!important;
      flex-direction: column!important;
    }
    .x-value-scatterplot-selects-wrapper {
      margin-top: 2vh!important;  
    }
    .scatterplot-country-selects-wrapper {
      margin-top: 2vh!important;      
    }
    .scatterplot-country-select {
      margin-top: 2vh!important;      
      width: 100%!important;    
      height: 2vh!important;
      padding: 0px!important;
    }
    .scatterplot-selects-wrapper{
      display: flex;
      margin-left: 6vw!important;
      flex-direction: column;
    }
    .scatterplot-svg-container {
      margin-bottom: -85vh!important;
      margin-left: -5vw;
      width: 100%!important;
  }
  .tick text {
    font-size: 1em!important;
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    color: #323648;
  }
  .scatterplot-takeaways-title {
    width: 80%!important;
    margin-left: 5%!important;
    font-size: 1.3rem!important;
  }
  .scatterplot-takeaways-wrapper {
    flex-direction: column!important;
    width: 95%!important;
    margin-left: -3%!important;
  }
  .scatterplot-takeaway {
    width: 100%!important;
  }
  .scatterplot-takeaway-title {
    font-size: 1.2em!important;
    margin-left: 2vw!important;
  }
  .scatterplot-takeaway-image {
    height: 280px;
    margin-right: 5vw;
    margin-top: 2vh;
    padding-right: 2vw;
    margin-bottom: -4vh!important
  }
  .first-scatterplot-takeaway-paragraph {
    margin-top: 1vh!important;
  }
  .scatterplot-takeaway-paragraph {
    width: 92%!important;
    margin-left: 2vw!important;
  }
  .map-description-title {
    font-size: 2rem!important;
  }
  .map-description-paragraph {
    width: 85%!important;
  }
  .map-notes {
    width: 85%!important;
  }
  .map-wrapper-widgets {
    width: 100%;
  }
  .country-to-compare-wrapper {
    margin-left: 5%!important;
    width: 100%!important;
    flex-direction: column!important;
  }
  .country-to-compare {
    height: 3vh!important;
    padding: 7px!important;
    margin-left: 0%!important;
  }
  .similar-wrapper {
    flex-direction: column!important;
  }
  .most-similar {
    margin-left: -1vw!important;
  }
  .least-similar {
    margin-left: 0!important;
  }
  .least-span {
    margin-left: 15%!important;  
    font-size: .9rem!important;
  }
  .most-span {
    margin-left: 15%!important;  
    font-size: .9rem!important;
  }
  .signifigant-metrics-wrapper {
    /* margin-left: 0!important;   */
    width: 100%!important
  }
  .highest-metrics {
    flex-direction: column!important;
    margin-left: 15%!important;  
    font-size: 1rem!important;
  }
  .lowest-metrics {
    flex-direction: column!important;
    margin-left: 15%!important;  
    font-size: 1rem!important;
  }
  .takeaways-wrapper {
    width: 100%!important;
    margin-left: 0!important;  
    flex-direction: column!important
  }
  .first-takeaway {
    margin-left: 15%!important;  
  }
  .takeaway {
    width: 90%!important;
    margin-left: 5%!important;  
  }
  
  
  }