.scatterplot-takeaways {
    width: 100%;
    margin-left: 2vw;
    margin-top: 2vh;
}
.scatterplot-takeaways-title {
    font-family: Avenir, Lato, Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    margin-top: 1vh;
    font-weight: 500;
    color: #323648;
    opacity: .9;
}
.scatterplot-takeaways-wrapper {
    width: 75%;
    display: flex;
    flex-direction: row;
}
.scatterplot-takeaway {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    width: 40%;
    background-color: #fafafa;
    /* border: 2px solid #f5f5f5; */
    box-shadow: 0px 1px 5px rgba(34, 34, 34, 0.3);
    border-radius: 4px;
    height: 100%;
    margin: 10px;
    padding-bottom: 20px;
}
.scatterplot-takeaway-title {
    font-family: Lato, Avenir, Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-left: 1vw;
    margin-top: 2vh;
    font-weight: 900;
    color: #202331;
    opacity: 1;
}
.scatterplot-takeaway-image {
    height: 280px;
    margin-right: 5vw;
    margin-top: 2vh;
    padding-right: 2vw;
}
.first-scatterplot-takeaway-paragraph {
    margin-top: 3vh!important;
}
.scatterplot-takeaway-paragraph {
    font-family: Lato, Avenir, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin-top: 1vw;
    font-weight: 100;
    margin-top: .5vh;
    width: 80%;
    margin-left: 1vw;
    color: #323648;
    opacity: .8;
}
.scatterplot-top-countries {
    font-family: Lato, Avenir, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    margin-top: 1vh;
    width: 80%;
    margin-left: 1vw;
    color: #323648;
    opacity: .5;
}

@media screen and (min-width: 1900px) {
    .scatterplot-takeaway-image {
        height: 275px;
    }
    .scatterplot-takeaway-paragraph {
        width: 70%;
    }
}