html {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    /* overflow: hidden!important; */
    background-color: #f1f2f5;
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    background-color: #f1f2f5;
  }
  .section-header {
    width: 100%;
  }
  .section-header-wrapper {
    border: 1px solid rgb(5, 7, 77);
    padding-bottom: 7vh;
    background: rgb(5, 7, 77);
  }
  .section-header__title {
    font-size: 4rem;
    margin: 0;
    padding: 0;
    margin-top: 10vh;
    margin-left: 7vw;
    color: #f5f5f5;
    font-family: Lato,Avenir, Arial, Helvetica, sans-serif;
    /* font-family: Lora, 'Times New Roman', Times, serif; */
    font-weight: 900;
  }
  .section-header__subtitle {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    opacity: 1;
    color: #f5f5f5;
    margin-left: 7vw;
    margin-top: 1vh;
    font-family: Lato, Avenir, Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  .first-description { 
    margin-top: 4vh!important;
  }
  .section-header__description {
    width: 60%;
    font-family: 'Avenir', Lato Arial, Helvetica, sans-serif;
    margin-left: 7vw;
    color: #323648;
    opacity: .8;
    font-weight: 100;
    font-size: 1.4rem;
    margin-top: 1vh;
  }
svg {
  margin: 0;
  padding: 0;
  margin-top: 7vh;
  margin-left: 7vw;
}

  .bar {
    fill: orange;
  }
  
  
  .bar.africaActive {
    fill: #00AF54!important;
  }
  .bar.asiaActive {
    fill: #487DAD!important;
  }
  .bar.europeActive {
    fill: #FDB650!important
  }
  .bar.southAmericaActive {
    fill: #e77082!important
  }
  .bar.northAmericaActive {
    fill: #1D1E2C!important
  }
  .bar.oceaniaActive {
    fill: #802694!important
  }
  .active {
    fill: orangered ;
  }
  .bar.specificCountry {
    fill: red!important;
  }
  .bar:hover {
    fill: red!important;
  }
  .d3-tip {
    /* line-height: 1; */
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    background: #fafafa;
    /* color: #050609; */
    color: #323648;
    margin: 0;
    font-family: Avenir, Lato,Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: .8rem;
    border-radius: 3px;
    box-shadow: 0px 1px 5px rgba(34, 34, 34, 0.3);
  }
  .first-d3-tip {
    /* line-height: 1; */
    width: min-content;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
    background: #fafafa;
    /* color: #050609; */
    color: #323648;
    margin: 0;
    font-family: Avenir,  Lato,Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: .8rem;
    border-radius: 3px;
    box-shadow: 0px 1px 5px rgba(34, 34, 34, 0.3);
  }
  .first-tip-country {
    font-family: Lora, 'Times New Roman', Times, serif;
    white-space: nowrap;
    font-size: 1rem;
  }
  .first-tip-value {
    font-family: Avenir, Lato, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-left: 4%;
    white-space: nowrap;
    font-weight: 600;
    opacity: 1;
  }
  .country-details {
    font-size: 1.1rem;
    text-align: center;
    margin: auto;
    font-family: Lora, 'Times New Roman', Times, serif;
    opacity: .9;
    margin-top: 1vh;
  }
  .blurb-details {
    font-size: .8rem;
    text-align: center;
    font-family: Lato, Avenir, Arial, Helvetica, sans-serif;
    opacity: .7;
  }
  .correlation-details {
    font-size: 1rem;
    font-weight: 900;
    font-family: Avenir, Lato, Arial, Helvetica, sans-serif;
  }
  .country-details-bottom {
    /* border: 1px solid red; */
    margin-top: -1vh;
  }
  
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }
.selects-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
  margin-left: 7vw;
}

.value-select-wrapper {
  margin-top: 5vh;
}
.sample-size {
  
}
.country-select-wrapper {
  margin-top: 5vh;
  margin-left: 3vw;
}
.country-select {
  display: flex;
  flex: 1;
  margin-top: .8vh;
  border-radius: 4px;
  border: 1px solid #d6d3d3;
}
.sample-size-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: .5vw;
  font-size: .85rem;
  margin: 0;
  padding: 0;
}
.sample-size-metric {
  margin-left: .2vw;
  border-bottom: 3px solid  #E57A44;
  font-size: .85rem;
}
.value-select {
  display: flex;
  flex: 1;
  border-radius: 4px;
  border: 1px solid #d6d3d3;
}

.takeaways-title {
  margin-left: 10%;
  margin-top: 6%;
  font-family: Avenir, Lato, Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  color: #323648;
  opacity: .9;
}
.takeaways-wrapper {
  width: 65%;
  margin-left: 10%;
  padding-bottom: 10vh; 
  display: flex;
  flex-direction: row;
  height: min-content;
}
.first-takeaway {
  margin-left: 0;
}
.takeaway {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5; 
  height: 100%;
  /* flex:1; */
  margin: 10px;
  width: 35%;
  box-shadow: 0px 1px 5px rgba(34, 34, 34, 0.3);
  border-radius: 2px;
}
.takeaway-title {
  font-size: 1.2rem;
  text-align: left;
  width: 88%;
  margin-left: 6%;
  font-family: Avenir, Lato, Arial, Helvetica, sans-serif;
  opacity: 1;
  color: #323648;
  margin-top: 3vh;
  font-weight: 600;
}
.takeaway-description {
  font-size: 1.1rem;
  text-align: left;
  width: 90%;
  margin-left: 6%;
  font-family: Avenir, Lato, Arial, Helvetica, sans-serif;
  color: #323648;
  opacity: .8;
  margin-top: 1vh;
  padding-bottom: 15px;
}
.map-notes { 
  opacity: .6;
  font-family: Avenir, Lato, Arial, Helvetica, sans-serif;
  margin-left: 7%;
  font-size: 1.1rem;
  width: 60%;
}
@media screen and (min-width: 1900px) {
  .section-header__description {
    width: 45%;
  }
  .takeaway {
    width: 28%;
  }
  .takeaway-description {
    width: 80%;
  }
 
}